.button-next{
    -fx-font-family: Arial;
    -fx-background-color: #AD282F;
    -fx-border-color: #000;
    -fx-border-width: 1px;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 40px;

    -fx-background-radius: 0; //Used to get a proper border on buttons
    -fx-background-insets: 0;
}

.button-back{
    -fx-font-family: Arial;
    -fx-background-color: #FFFFFF;
    -fx-border-color: #000;
    -fx-border-width: 1px;
    -fx-text-fill: #000;
    -fx-font-size: 40px;

    -fx-background-radius: 0; //Used to get a proper border on buttons
    -fx-background-insets: 0;
}

.logoText{
    -fx-font-size: 72px;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Kelly Slab", "Arial";
}

.logoText:hover{
    -fx-cursor: hand;
    -fx-text-fill: #DADADA;
}

.button-next:hover{
    -fx-cursor: hand;
    -fx-background-color:  #92230C
}

.button-back:hover{
    -fx-cursor: hand;
    -fx-background-color: #D2D2D2
}

.cross-and-info{
    -fx-opacity: 1;
}
.cross-and-info:hover{
    -fx-cursor: hand;
    -fx-opacity: 0.7;
}

.delete-product-overlay{
    -fx-opacity: 0;
    -fx-background-color: #CA2626
}

.delete-product-overlay:hover{
    -fx-cursor: hand;
    -fx-opacity: 0.25;
}

//#logo{
//    -fx-font-size: 72px;
//    -fx-text-fill: #FFFFFF;
//    -fx-font-family: "Kelly Slab", "Arial";
//}

.mainbackgroud {
    -fx-font-family: Arial;
    -fx-background-color: #D9DCE4;
}

.mainblue {
    -fx-background-color: #26263A;
}

.overlayFade {
     -fx-background-color: rgba(0, 0, 0, 0.75);
}

.addtocartbutton {
    -fx-background-color: #AD282F;

    -fx-background-radius: 0; //Used to get a proper border on buttons
    -fx-background-insets: 0;

    -fx-border-color: #000;
    -fx-border-width: 1;

    -fx-text-fill: #FFFFFF;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-font-family: Arial;
}

.addtocartbutton:hover {
    -fx-background-color: #8E2328;
    -fx-cursor: hand;
}

.itemcard {
    -fx-background-color: #FFF;
    -fx-border-color: #000;
    -fx-border-width: 1px;
}

.cartbg {
    -fx-background-color: #e4e4e4;
    -fx-border-color: #000;
    -fx-border-width: 1px;
}

.carttitle {
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 48px;
}

.carttext {
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
}

.cartsmalltext {
    -fx-font-family: Arial;
    -fx-font-size: 24px;
}

.carttextSmaller {
    -fx-font-family: Arial;
    -fx-font-size: 26;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: #D9DCE4;
    -fx-border-color :#000;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.25em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.75em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.anchor-box{
    -fx-background-color: white;
    -fx-border-color: #000;
    -fx-border-width: 1px;
}

.button-change{
    -fx-background-color: #AD282F;
    -fx-border-color: #000;
    -fx-border-width: 1px;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 21px;
    -fx-font-family: Arial;

    -fx-background-radius: 0; //Used to get a proper border on buttons
    -fx-background-insets: 0;
}

.button-change:hover{
    -fx-cursor: hand;
    -fx-background-color: #92230C;
}

.openDetailView:hover {
    -fx-cursor: hand;
    -fx-background-color: #c4c4c4;
    -fx-border-color: #000;
    -fx-border-width: 1 1 0 1;
}

.productDetailView {
    -fx-background-color: #d9dce4;
    -fx-border-color: #000;
    -fx-border-width: 1px;
}

.ecolabel {
    -fx-font-family: Arial;
    -fx-font-size: 14px;
    -fx-font-weight: Bold;
    -fx-text-fill: #5cc343;
}

.categoryCard {
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: 1px;
    -fx-border-width: 1 1 1 1;
}

.categoryCard:hover {
    -fx-cursor: hand;
    -fx-background-color: #C55F65;
    -fx-border-color: black;
    -fx-border-width: 3px;
    -fx-border-width: 1 1 1 1;
}

.categorycardSelected {
    -fx-background-color: #AD282F;
    -fx-border-color: black;
    -fx-border-width: 24px;
    -fx-border-width: 1 1 1 1;
}

.categoryCardText {
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

.foobar {
    -fx-text-fill: #09CDDA;
}

.searchButton {
    -fx-background-color: #AD282F;
    -fx-font-family: Arial;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 40px;

    -fx-background-radius: 0; //Used to get a proper border on buttons
    -fx-background-insets: 0;

}

.searchButton:hover {
    -fx-background-color: #721A1F;
    -fx-font-family: Arial;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 40px;
    -fx-cursor: hand;

}

.product-plus-minus{
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-fill: #fff;
    -fx-stroke: #000;
    -fx-stroke-width: 2px;
}
.product-plus-circle {
    -fx-font-family: Arial;
    -fx-fill: #fff;
    -fx-stroke: #000;
    -fx-stroke-width: 2px;
}

.product-plus-circle:hover{
    -fx-cursor: hand;
}

.product-plus-minus:hover{
    -fx-cursor:hand;
}

.button-main-page {
    -fx-background-color: #26263A;
    -fx-border-color: #AD282F;
    -fx-border-width: 6px;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 40px;
    -fx-font-family: Arial;

    -fx-background-radius: 0; //Used to get a proper border on buttons
    -fx-background-insets: 0;
}

.button-main-page:hover {
    -fx-cursor: hand;
    -fx-background-color: #AD282F;
}

.helpbtntext {
    -fx-font-family: Arial;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 48px;
    -fx-font-weight: Bold;
}

.helptext {
    -fx-font-family: Arial;
    -fx-text-fill: #000000;
    -fx-font-size: 44px;
    -fx-font-weight: bold;
}

.modalScreenTitle {
    -fx-font-family: Arial;
    -fx-text-fill: white;
    -fx-font-size: 56px;
    -fx-font-weight: bold;
}

.laststepBigText {
    -fx-font-family: Arial;
    -fx-text-fill: #000000;
    -fx-font-size: 44px;
    -fx-font-weight: bold;
}

.myinfobigtext {
    -fx-font-family: Arial;
    -fx-text-fill: #000000;
    -fx-font-size: 44px;
    -fx-font-weight: bold;
}

.myinfosmallText {
    -fx-font-family: Arial;
    -fx-text-fill: #000000;
    -fx-font-size: 36px;
}

.getmyinfobtn {
    -fx-background-color: #AD282F;
    -fx-font-family: Arial;
    -fx-text-fill: #fff;
    -fx-font-size: 20px;
}

.text-field-error {
  -fx-text-box-border: red;
  -fx-text-box-border-width: 3;
  -fx-focus-color: red;
}